<html>
  <head>
    <title>my-articles.com</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="pygments.css">
    <meta charset='utf-8'>
  </head>
  <body>
    <div id="navigation">
      <div id="menu">
	<ul>
	  <li><a href="index.html">Recent Articles</a></li>
	  <li><a href="by-topic.html">By Topic</a></li>
	  <li><a href="by-year.html">By Year</a></li>
	  <li><a href="about.html">About me</a></li></ul>
      </div>
    </div>
    <div style="margin: 10px;"/>
    <div id="page">
      <div id="content"/>
      <div id="splash">An important note!</div>
    </div>
    <div style="margin: 10px;"/>
    <div id="footer">
      Impress:
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque, sem nec feugiat pellentesque, arcu libero auctor eros, in rutrum massa quam ut magna. In sit amet tellus id arcu ornare tincidunt. Nullam augue dui, euismod bibendum scelerisque id, semper at augue. Aenean arcu eros, tristique sit amet condimentum at, ornare nec erat. Morbi varius viverra velit et scelerisque.
    </div>
  </body>
</html>
